---
layout: layout.liquid
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | safe }}</title>
  </head>
  <body>
    <h4>Home layout</h4>
   {{ content | safe }}
  </body>
</html>